*{
    margin:0;
}

body{
    background: #eee;
}

.container{
    width:960px;
    /* border: 3px solid red; */
    margin: 30px auto;
}

header{
    padding: 20px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    background: black;
    color: aqua;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

header h2{
    font-size: 16px
}

header p{
    font-size: 12px
}
header:hover{
    background: brown;
}

nav{

}

nav ul{
    list-style-type: none;
    padding: 0;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {
    /* float: left; */
    width: 80px;
}

nav ul li a{
    text-decoration: none;
    color: aqua;
    background: gray;
    padding: 10px 20px;
    display: block
}
#banner img{
    width: 100%;
}




/* .box{
    height: 400px;
    width: 600px;
    background: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
    /*
.box h2{
 background: yellow; 
    padding: 10px;
}
*/