 #menu_project{
    list-style-type: none;
    padding: 0;
    width: 1200px;
    background: #eee;
    height:34px;
}
#menu_project li{
    /* display: inline;  */
    float: left;
    position: relative;
    /* border-right: 2px solid yellowgreen */
}

#menu_project li:last-child{
    border-right:none;
}


#menu_project li a{
    text-decoration:none;
    color: yellowgreen;
    background: #eee;
    padding: 8px 25px;
    
    display: block;
    transition: all 0.3s ease-out;
}

#menu_project li a:hover{
    background: rgb(144, 123, 123);
} 

#menu_project li ul li{
    float:none;
}

#menu_project li ul{
    list-style-type: none;
    padding:0;
    position: absolute;
    left: 9999px;
    /* display:none; */
}

#menu_project li:hover ul{
    /* display: block; */
    left: 0;
}

/* span{
    background: red;
    color: white;
    position: absolute;
    right: 0;
}

.box{
    width: 500px;
    height: 400px;
    background: yellow;
    position: relative;
} */